.footer {
    display: flex;
    gap: 24px;
    justify-content:center;
    flex-direction: row;
    height:50px;
    background-color:#2d2d2d;
    align-items: center;
    
    
  }
  //Should I make an a into a footer__a? Would that actually be easier for us? 
  .footer a {
    display: flex;
    gap: 8px;
    color: white;
  }
  
  .footer img {
    flex-shrink: 0;
    color:white;   //why no white? 
  } 

  /* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}