.blogp {
  width:50%;
}
@media (max-width: 600px) {
 .blogp {
  width:90%;
}
}

.subnav{
    padding: 10px;
    margin: 0;
    list-style:none;
    display:flex;
    justify-content: space-around;
    gap: 1rem;
}

.subnav_date{
  color:rgb(145, 145, 145);
}

.subnav_title{
  color:rgb(195, 195, 195);
  margin-right:20px;
}